@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}
:root {
  --dark-background: #181a1b;
  --text-color: #e8e6e3;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: -webkit-repeating-linear-gradient(
    bottom,
    rgb(24, 34, 57),
    rgb(59, 89, 132),
    rgb(42, 68, 96)
  );
}
.form-container {
  width: 450px;
  background: var(--dark-background);
  border-radius: 5px;
  text-align: center;
  padding: 50px 35px 10px 35px;
}
h1 {
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 11px;
  margin: 0 0 30px 0;
}
.personalInfo label,
.InputFieldContainer label {
  display: flex;
  text-align: start;
  font-size: 21px;
  font-weight: 500;
}
input {
  height: 45px;
  width: 380px;
  margin: 25px 0;
  border-color: rgb(119, 110, 98);
  background: rgb(48, 52, 54);
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
}
button {
  height: 45px;
  width: 380px;
  margin-top: -20px;
  border: none;
  background: #3577f1a6;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 25px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}
button:hover {
  background: #3e7bea;
  color: var(--text-color);
}
select {
  height: 45px;
  width: 380px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 25px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.checkbox-container {
  display: flex;
  margin: 25px 0;
  justify-content: space-between;
  align-items: center;
}
.checkbox-container input {
  width: 33px !important;
  height: 20px !important;
  margin: 5px 0 !important;
}
.pre-next-btn {
  display: flex;
  justify-content: space-between;
}
.pre-next-btn button {
  width: 150px;
}
.radio-container label {
  display: flex;
  text-align: start;
  font-size: 25px;
  font-weight: 500;
}
.radio-container input {
  width: 33px !important;
  height: 20px !important;
  margin: 5px 0 !important;
}
.radio-contant {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0 33px 0;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-container button {
  margin: 0 !important;
}
.skills-container input {
  width: 280px;
}
.skills-container button {
  width: 90px;
}
.li-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li-container button {
  width: 90px;
}
ul li {
  text-align: start;
  font-size: 25px;
  margin: 0 0 9px 0;
  padding-left: 15px;
}
.personalInfo label {
  margin: 0 0 17px 0;
}
.InputFieldContainer label {
  margin: 25px 0 0 0;
}

/* steps */
.steps {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 33px 0;
}
.steps .active {
  background: #3e7bea;
  color: #fff;
}

.steps > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
}
